<a href="/">Back to all postings</a>

{{#postings}}
    <h4>{{title}} - {{company}}</h4> <a href="/postings/{{_id}}/edit">Edit Job Posting</a>
    <p>Posted {{date}}</p>
    <p>{{description}}</p>
    <p>Responsibilities:</p>
    <p>{{responsibilities}}</p>

    <hr/>
    {{#if ../open}}
        <a href="/applicants/{{_id}}">Apply for job</a>
        This posting is still open.
    {{/if}}


<h4>Current Applicants</h4>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Link to Resume</th>
            </tr>
        </thead>
        <tbody>
    {{#each applicants}}
             <tr>
                <td>{{applicantName}}</td>
                <td>{{applicantEmail}}</td>
                <td>{{applicantResume}}</td>
                <td>
                    <form action="/postings/{{../_id}}/applicants/{{applicationId}}/delete" method="post">
                        <input type="submit" value="Delete"/>
                        <input type="hidden" name="applicant" value="{{this}}">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    {{/each}}
{{/postings}}